@charset "UTF-8";


/*BODY*/
body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
}

/*NAV*/
nav{
    
}

/*ASIDE*/
aside{
    width: 300px;
    height: 600px;
    margin: auto;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/*IFRAME*/
iframe{
    width: 250px;
    height: 500px; 
    margin: auto; 
}

/*DIV*/